.text-content{
  font-size: 14px;
}

#messages{
  background-color: #34373a;
}

#message-box{
  padding-top: 5px;
  border-radius: 25px;
  background-color: #4682B4;
  color: white;
  text-align: center;
  width: 25%;
  word-wrap: break-word;
}
