.text-content{
  font-size: 14px;
}

#chat-container{
  position: relative;
}

#messages{
  background-color: #34373a;
  border-radius: 50px 20px;
  margin-top: 5%;
  margin-bottom: 5%;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 80%;
  height: 50%;
  overflow-y: scroll;
  position: relative;
}

#message-box{
  margin-left: 25px;
  border-radius: 25px;
  background-color: #4682B4;
  color: white;
  text-align: center;
  width: 25%;
  word-wrap: break-word;
}
