.text-content{
  font-size: 14px;
}

#messages{
  background-color: #34373a;
  border-radius: 50px 20px;
}

#message-box{
  margin-top: 13px;
  margin-bottom: 13px;
  margin-left: 25px;
  border-radius: 25px;
  background-color: #4682B4;
  color: white;
  text-align: center;
  width: 25%;
  word-wrap: break-word;
}
